@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "tailwindcss";
body {
  font-family: "Lato", sans-serif;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* prevent horizontal scroll */
}
